body {
    font-size: 16pt;
    color: #000066;
}
button {
    font-size: 14pt;
    padding: 5px 20px;
}
h1 {
    font-size: 20pt;
    font-weight: bold;
    background-color: #39445a;
    color: #c3cee5;
    padding: 3px;
}
input#subject {
    width: 280px;
    height: 30px;
}
input#actionDate {
    height: 30px;
}
input#actionTime {
    height: 30px;
}
select#notifyBefore {
    height: 30px;
}
textarea#summary {
    width: 280px;
}
dl {
  margin-bottom: 5px !important;
}
dt,dd {
  line-height: 1 !important;
}
ul {
  padding-left: 20px !important;
}
